<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Samnivesha is the annual Technical fest of the Department of Civil and Environmental Engineering (DCEE) at IIT Patna.">
  <meta name="author" content="Samnivesha '21">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samnivesha 2021 | The Annual Fest of Civil Engineering | IIT Patna | Team</title>


  <!-- bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles3.css">

  <!-- google fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- font awesome kit -->

  <script src="https://kit.fontawesome.com/edb4e8128d.js" crossorigin="anonymous"></script>

  <!-- bootstrap default javascript -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>

  <!-- navbar -->
  <%- include("navbar") -%>

  <!-- team section -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1">
          <div class="col-lg-12">
            <h2 class="head">OUR TEAM</h2>

            <!-- COORDINATORS -->

            <h2 class="title">Coordinators</h2>
            <div class="row pt-md">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile cent">
                <div class="img-box">
                  <img src="images/KETAN.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce14@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Ketan Kumar Sinha </h1>
                <h2>Fest Coordinator</h2>
              </div>
            </div>
            <div class="row pt-md">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/DEEPANSH.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce07@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Deepansh Gupta</h1>
                <h2>Overall Coordinator ACE</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/RAVI.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce27@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Ravi Kiran</h1>
                <h2>Events Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/PRITAM K.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce20@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Pritam Kamaji</h1>
                <h2>Events Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/SUSHMA.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce18@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Peddamile Sushma</h1>
                <h2>Events Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/ANANYA.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce04@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Ananya Singh</h1>
                <h2>Media & Public Relations Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/RAHUL.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce24@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Rahul Gupta</h1>
                <h2>Media & Public Relations Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/GOURAV.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce09@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Gourav Sharma</h1>
                <h2>Sponsorship Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/PRITAMS.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce21@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Pritam Singh</h1>
                <h2>Web Development Coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/HAINDAVI.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: 1801ce03@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>A.Y.H. Saraswathi</h1>
                <h2>Registration Coordinator</h2>
              </div>
            </div>
            <!-- SUBCOORDINATORS -->
            <h2 class="title">Sub-coordinators</h2>
            <div class="row pt-md">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Utkarsh Dubey_1901ce54.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: utkarsh_1901ce54@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Utkarsh Dubey</h1>
                <h2>Overall Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Sneha Roy_1901CE49.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: sneha_1901ce49@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Sneha Roy</h1>
                <h2>Overall Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/kshitij_1901ce18.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: kshitij_1901ce18@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Kshitij J Pandey</h1>
                <h2>Event Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/sachin_1901ce42.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: sachin_1901ce42@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Sachin Tiwari</h1>
                <h2>Event Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Hardik_1901CE15.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: hardik_1901ce15@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Hardik Arora</h1>
                <h2>Event Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/AnshuAnand_1901ce07.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: anshu_1901ce07@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Anshu Anand</h1>
                <h2>Event Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/nikhil_1901ce29.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: nikhil_1901ce29@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Nikhil Anand</h1>
                <h2>Media and Public Relations Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Nandika girish_1901ce28.jpeg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: nandika_1901ce28@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Nandika Girish</h1>
                <h2>Media and Public Relations Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Priya Singh_1901CE34.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: priya_1901CE34@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Priya Singh</h1>
                <h2>Media and Public Relations Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Gaurav Chaudhary_1901ce13.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: gaurav_1901ce13@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Gaurav Chaudhary</h1>
                <h2>Sponsorship Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Gaurav Keshav_1901CE14.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: gaurav_1901ce14@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Gaurav Keshav</h1>
                <h2>Sponsorship Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Kritika_1901CE20.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: kumari_1901ce20@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Kumari Kritika</h1>
                <h2>Sponsorship Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/parishi_1901ce31.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: parishi_1901ce31@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Parishi Surana</h1>
                <h2>Web-Development Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Rahulkumar_1901ce36.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: rahul_1901ce36@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Rahul Kumar</h1>
                <h2>Creatives and Design Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/RAHUL SINGH - 1901CE37.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: rahul_1901ce36@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Rahul Kumar Singh</h1>
                <h2>Creatives and Design Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Bagisha_1901ce09.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: bagisha_1901ce09@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Bagisha Kumari</h1>
                <h2>Registration Sub-coordinator</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/Amisha Ray_1901CE04.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="mailto: amisha_1901ce04@iitp.ac.in"><i class="far fa-envelope-open"></i></a>
                  </ul>
                </div>
                <h1>Amisha Ray</h1>
                <h2>Hospitality Sub-coordinator</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FOOTER -->
  <%- include("footer") -%>
