<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Samnivesha is the annual Technical fest of the Department of Civil and Environmental Engineering (DCEE) at IIT Patna.">
  <meta name="author" content="Samnivesha '21">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samnivesha 2021 | The Annual Fest of Civil Engineering | IIT Patna | EVENTS</title>


  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles2.css">

  <!-- google fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- font awesome kit -->

  <script src="https://kit.fontawesome.com/edb4e8128d.js" crossorigin="anonymous"></script>

  <!-- bootstrap default javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>

  <!-- navbar -->
  <%- include("navbar") -%>

  <!-- EVENTS SECTION -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1">
          <div class="col-lg-12">
            <h2 class="head">EVENTS</h2>
            <div class="row pt-md">
              <!-- goal-gate -->
              <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/goal-gate.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#goalGate">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Goal GATE</h1>
              </div> -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/cad-design.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#cadDesign">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>CAD Design</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/mat.it.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#matIt">
                      <li>About</li>
                    </a></ul>
                </div>
                <h1>MAT.It</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/model-monaco.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#modelMonaco">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Model Monaco</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/engineers-conclave.jpeg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#engineersConclave">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Engineers Conclave</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/civiQ.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#civiQ">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Civil Quizzing Cameos</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/crack-the-clue.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#crackTheClue">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Crack The Clue</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/lensart.jpg" class="img-responsive pic">
                  <ul class="text-center">
                    <a href="#lensart">
                      <li>About</li>
                    </a>
                  </ul>
                </div>
                <h1>Lensart</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CASE STUDY SECTION -->
      <div class="row">
        <div class="col-md-offset-1">
          <div class="col-lg-12">
            <h2 class="head">CASE-STUDY</h2>
            <div class="row pt-md justify-content-md-center">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/case-study.jpg" class="img-responsive pic">
                  <ul class="text-center">
                  <a href="#greenHighway"><li>About</li></a>
                </ul>
                </div>
                <h1>Green Highway</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/case-study-2.jpg" class="img-responsive pic">
                  <ul class="text-center">
                      <a href="#jalJeevanHariyali"><li>About</li></a></ul>
                </div>
                <h1>Jal Jeevan Hariyali</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL WINDOW FOR EVENTS -->
    <div id="goalGate" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Goal GATE!</h1>
        <div class="popup-content">Are you ready for GATE 2021?<br>
          Success is not final. Failure is not Fatal. It is the courage to continue that counts.<br>
          With GATE 2021 Examination less than a month away, preparations are in a full swing mode. To help students test their preparation and know last moment reading they need, Samnivesha'21 has brought a golden opportunity for all the Civil and Mechanical Engineering aspirants. <br>
        Deadline to register: 20th January 2021(11:59PM) </div>
          <p><a href="images/GOAL-GATE.pdf" class="tags" target="_blank">View Rulebook</a></p>
          <p class="tags">Registration Charges: ₹100/-</p>
          <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1FjJch4qm25Z4WTlz7c6NPDOyHSzjyQMmnZHrmHudNH0/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="cadDesign" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>CAD Design!</h1>
        <div class="popup-content">‘We shape our buildings, thereafter they shape us.’<br>
          Engineering refers to the practice of organizing the design and construction of any artifice which transforms the physical world around us to meet some recognized need.<br>
          Samnivesha’21 presents CAD Design wherein; you can shape your assumptions into layouts through- AutoCAD/Revit/SketchUp etc. With a good visualisation, you can uncover your hidden talent through this event.</div>
          <p><a href="images/CADDesign.pdf" class="tags" target="_blank">View Rulebook</a></p>
            <p class="tags">Registration Charges: ₹100/-</p>
            <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1bdyV75-4LVGaD1HwKroSBB_Wgs4cMXO1Y-LjacNEJz8/edit?usp=drivesdk">Register</a></button></div> 
      </div>
    </div>
    <div id="matIt" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>MAT.It!</h1>
        <div class="popup-content">Do you like Coding?
          Have you ever thought how Coding makes the life of Engineers easier?<br>
          MAT.It presents you an opportunity to showcase your problem-solving skills in Civil Engineering with the application of programming language- MATLAB. For acquainting you to the world of MATLAB, Samnivesha'21 is also conducting a
          workshop on ‘Matlab and Simulink Workflows’ whose details can be found under Workshops Section.</div>
          <p><a href="images/MAT.It.pdf" class="tags" target="_blank">View Rulebook</a></p>
            <p class="tags">Registration Charges: ₹100/- <br>
              (Free for the participants of MATLAB Workshop) </p>
            <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1uGGbvJomEolLKX_19BCl3hikGj8PfCaYZor2Yn9k8p8/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="crackTheClue" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Crack The Clue!</h1>
        <div class="popup-content">‘The art of simplicity is the puzzle of complexity’.<br>
          Ever since childhood, brainstorming puzzles and the urge to crack the clues attract our attention. If you consciously take advantage of your natural thinking process by gathering out brain’s energy into a ‘storm’, you can transform these
          energies into written words. With this, Samnivesha’21 presents the Cryptic Crossword Contest, first ever of its kind to be conducted to test your wit and wisdom in Science and Technology.</div>
          <p><a href="images/Crack The Clue.pdf" class="tags" target="_blank">View Rulebook </a></p>
          <p class="tags">Registration Charges: <br>
            Round-1: Nil
          </p>
          <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1I8eryroau3_2jnn_DvJLbaYuHSG8JjtwOP4XgkumzTA/edit?usp=drivesdk">Register</a></button></div>         
        </div>
    </div>
    <div id="modelMonaco" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Model Monaco!</h1>
        <div class="popup-content">‘Engineering is the art of modelling materials we do not wholly understand, into shapes we cannot precisely analyse so as to withstand forces we cannot properly assess, in such a way that public has no reason to
          suspect the extent of our ignorance.’ <br>
          Samnivesha’21 presents Model Monaco, the event based on your understanding of analysing the structural elements around us. Software like ETABS, SAP2000, STAAD.Pro etc. can be used as a part of this event. Samnivesha'21 is also conducting a workshop on ETABS
          whose details can be found under Workshops Section.</div>
        <p><a href="images/Model Monaco.pdf" class="tags" target="_blank">View Rulebook</a></p>
          <p class="tags">Registration Charges: ₹100/- <br>
            (Free for the participants of ETABS Workshop)
          </p>
          <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1T-_CuBOPTmRdZ2yNSYongSmXGHkxzHvkxOKHRNU2wOQ/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="civiQ" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Civil Quizzing Cameos!</h1>
        <div class="popup-content">Are you fond of quizzes?
          Do you have the adrenaline rush when you see the contestants in KBC? <br>
          Well! nothing is impossible. The word itself says I’m possible. Samnivesha’21 presents you an amazing opportunity with this Quizzing Event which will be conducted in 3 Rounds. With the challenging questions from Science and Technology, the Final
          Round will be conducted live on KBC Pattern. View Rulebook for more details.</div>
          <p><a href="images/Civil Quizzing Cameos.pdf" class="tags" target="_blank">View Rulebook</a></p>
          <p class="tags">Registration Charges: <br>
            Round-1: Nil
          </p>
          <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1jucDKjJ-c8qxei7Npr2D1MDJ7Ysv9KOKKQWxb9Zoc6c/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="engineersConclave" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Engineers Conclave!</h1>
        <div class="popup-content">‘Research is to see what everybody has seen, and to think what nobody else has thought.’ <br>
          It is an organized method of trying to find out what you are going to do after you cannot do what you are doing now. Samnivesha’21 bring this opportunity for all the igniting minds by providing a platform to present your research prospects
          which will be reviewed by intense interaction and questionnaire with leading researchers and professionals in the field of Civil and Environmental Engineering.</div>
          <p><a href="images/Engineers Conclave.pdf" class="tags" target="_blank">View Rulebook</a></p>
          <p class="tags">Registration Charges: ₹100/-</p>
          <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1SnpqRo8Pua-ojIbMjbwFgWN_Fp50ggmP6o66nT8WJ1k/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="lensart" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Lensart!</h1>
        <div class="popup-content">‘The Camera is an instrument that teaches people how to see without a camera.’ <br>
          A photograph is a secret about a secret. The more it tells you the less you know. Samnivesha’21 presents Lensart- Photography Contest for all the fascinating photographers to click and express their comments on the Civil Structures that
          will be shared through our ACE- Facebook and Instagram Pages. Hit likes and comments to grab the prizes.</div>
          <p><a href="images/Lensart.pdf" class="tags" target="_blank">View Guidelines</a></p>
          <p class="tags">Registration Charges: Nil</p>
      </div>
    </div>
    <!-- MODAL WINDOW FOR CASE STUDY -->
    <div id="greenHighway" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Green Highway!</h1>
        <p><a href="images/CaseStudy- GreenHighway.pdf" class="tags" target="_blank">View Rulebook</a></p>
        <p class="tags">Registration Charges: ₹250/- per Team</p>
        <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1rK3-VCZf0WMuasaHzG_9LjQFB-14LIsgmIN9UmV6rPo/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    <div id="jalJeevanHariyali" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Jal Jeevan Hariyali!</h1>
        <p><a href="images/CaseStudy-JalJeevanHariyali.pdf" class="tags" target="_blank">View Rulebook</a></p>
        <p class="tags">Registration Charges: ₹250/- per Team</p>
        <div style="text-align:center;"><button type="button" name="button"><a class="tags" target="_blank" href="https://docs.google.com/forms/d/1nW80ZFCEuNTQ1K6hVx_5MpDTcsuE8lo3-GLcxIvg0P4/edit?usp=drivesdk">Register</a></button></div>         
      </div>
    </div>
    </div>
  </section>
  <!-- FOOTER -->
  <%- include("footer") -%>
