<!-- footer -->
<footer id="footer" class="white-section">

  <!-- <i class="fab fa-twitter fottercon"></i> -->
  <a href="https://www.facebook.com/ACE.IITP/" target="_blank"><i class="fab fa-facebook fottercon"></i></a>
  <a href="https://www.instagram.com/ace_iitp/" target="_blank"><i class="fab fa-instagram fottercon"></i></a>
  <a href="mailto: ace@iitp.ac.in"><i class="far fa-envelope fottercon"></i></a>
  <p>Copyright ©2021 Samnivesha | IIT Patna</p>

</footer>
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
