<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Samnivesha is the annual Technical fest of the Department of Civil and Environmental Engineering (DCEE) at IIT Patna.">
  <meta name="author" content="Samnivesha '21">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samnivesha 2021 | The Annual Fest of Civil Engineering | IIT Patna | Guest Lecture</title>

  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles2.css">

  <!-- google fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- font awesome kit -->

  <script src="https://kit.fontawesome.com/edb4e8128d.js" crossorigin="anonymous"></script>

  <!-- bootstrap default javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
  <!-- navbar -->
  <%- include("navbar") -%>

  <!-- EVENTS SECTION -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <section class="team">
    <div class="container">
      <!-- WORKSHOP SECTION -->
      <div class="row">
        <div class="col-md-offset-1">
          <div class="col-lg-12">
            <h2 class="head">GUEST LECTURE</h2>
            <div class="row justify-content-md-center pt-md">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/guest1.jpg" class="img-responsive pic">
                  <!-- <ul class="text-center">
                    <a href="#matlabWp">
                      <li>About</li>
                    </a>
                  </ul> -->
                </div>
                <h1>Guest Lecture by Mr. P.G. Venkataram</h1>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="img-box">
                  <img src="images/guest2.jpg" class="img-responsive pic">
                  <!-- <ul class="text-center">
                    <a href="#etabsWp">
                      <li>About</li>
                    </a></ul> -->
                </div>
                <h1>Guest Lecture by Prof. A. Veeraragavan</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FOOTER -->
  <%- include("footer") -%>